
<div class="content content-boxed">
  <div class="block">
    <div class="block-header bg-gray-lighter">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <h3 class="block-title ">Desconto fidelidade</h3>
        </div>
      </div>
    </div>
    <div class="block-content">
      <table class="table table-borderless table-striped table-vcenter">
        <thead>
          <tr>
            <th class="text-center">Score</th>
            <th class="text-center">Desconto</th>
          </tr>
        </thead>
        <tbody>
          <% @loyalty_plans.each do |loyalty_plan| %>
            <tr>
              <td class="text-center"> <%= loyalty_plan.score %> </td>
              <td class="text-center"> <%= loyalty_plan.rate %> </td>
            </tr>
          <% end if @loyalty_plans  %>
        </tbody>
      </table>
    </div>
  </div>
</div>